#commentList {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-height: 400px;

    overflow: auto;
}

#commentList > li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 80%;
    margin: 5px 0;
}

#commentList p.comment {
    position: relative;

    padding: 5px 15px;
    margin: 5px 10px 5px 0;

    background-color: #e5e5e5;
    border-radius: 12px;

    font-size: 16px;
    line-height: 24px;

    word-break: break-all;
}

#commentList p.comment::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 2px;
    transform: translateX(50%) rotate(10deg);

    width: auto;
    height: auto;

    /* background-color: red; */

    border: 10px solid transparent;
    border-left-color: #e5e5e5;
    border-right: 0;
    border-bottom: 0;
    
    box-sizing: border-box;
}

#commentList button.commentLikeBtn {
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    padding: 8px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;

    font-size: 16px;
    line-height: 1;
    width: auto;
    height: auto;

    color: black;
    transition: background-color 0.2s ease;
}

#commentList .heart {
    color: red;
}

#commentList .count {
    font-size: 16px;
    color: black;
}

#commentList button.commentLikeBtn:hover {
    background-color: #f0f0f0;
    color: black;
}

#commentInputGroup {
    display: flex;

    padding: 0 10px;
    margin: 10px 0;
    border: 1px solid #dedede;
    border-radius: 1000px;
}

#commentInput {
    border: 0;
    background: none;
    outline: none;

    width: 100%;
    height: 40px;
    padding: 0 10px;

    font-size: 16px;
}

#commentButton {
    flex-shrink: 0;
    
    border: 0;
    background: none;
    padding: 0;
    margin: 0;

    width: 40px;
    height: 40px;

    cursor: pointer;
}

#commentButton img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}