@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Edu+SA+Hand:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  font-family: "Lora", serif;
}

body {
  font-size: 150%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: white;
  text-align: center;
  height: 70px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

header a {
  text-decoration: none;
  color: red;
}

.profile-header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  margin: 50px 0 20px 0;
  flex-wrap: wrap;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-button {
  display: flex;
  gap: 15px;
}

.profile-stats {
  display: flex;
  gap: 30px;

  font-size: 24px;
  font-weight: bold;
}

.self_introduction {
  text-align: center;
  margin-top: 40px;
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  width: 80%;
  margin: 40px auto;
}

.tags {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tags {
  display: flex;
  align-items: center; 
  gap: 20px;
}

.gitbtn {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  gap: 8px;
}

.likebtnS {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  border-radius: 20px;
  gap: 8px;
}

.heartS {
    color: red;
    margin-right: 2px;
}

.likebtnS {
    padding: 4px 10px;  
    font-size: 18px;  
    gap: 4px;
}


#postingList {
    display: flex;
    flex-wrap: wrap;

    width: 1200px;
    margin: 0 auto;
}

#postingList .posting-image {
    width: calc(100% / 3 - 20px);
    aspect-ratio: 1 / 1;

    margin: 10px;
}

#postingList .posting-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
