header {
  background-color: white;
}

h1 {
  margin: 0;
  text-align: center;
  height: 70px;
  padding-top: 10px;
  
}

.page-logo a {
  padding: 10px;
  font-family: "Oleo-Script", sans-serif;
  color: rgb(234, 61, 61);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header h1,
a {
  text-decoration: none;
  color: red;
}

.main {
  color: white;
  background-image: url(../images/main-page.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: rgb(121, 20, 20)
  /* height: 550px; */
}

.contents {
  margin-bottom: 50px;
}

#introduce-btn {
  width: 150px;
}

#introduce-content {
  /* text-align: center; */
  margin: 30px auto 50px auto;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.mycard {
  flex-basis: 18%;
  max-width: 18%;
  padding: 10%;
  border-radius: 50%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 200px;
}

.mycard img {
  margin-bottom: 30px;
}

.mycard p {
  margin-bottom: 10px;
}

.mycard a.btn {
  margin-top: auto;
}

.team-row, 
.added-team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.comments-section {
    width: auto;
    margin : 70px 50px 50px 50px;
    height: 700px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
}

.plus-btn {
  text-align: right;
  margin-right: 50px;
}

.comments-section {
  width: 1000px;
  margin: 70px auto 50px auto;
  height: 450px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

